[Unit]
Description=Spectre OS - MAC address randomization
After=network-pre.target
Before=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'for iface in /sys/class/net/*/; do i=$(basename "$iface"); [[ "$i" == lo ]] && continue; macchanger -r "$i" 2>/dev/null || true; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
